{% extends "LzyBlogBundle:Frontend:layout.html.twig" %}

{% block posts %}
	{{ dump(posts) }}
	{% for post in posts %}
		<div class="blog-post">
		  <h2 class="blog-post-title">{{ post.title }}</h2>
		  <p class="blog-post-meta">{{ post.createdAt|date(blog.date_format) }} by <a href="#">{{ blog.author }}</a></p>

		  {{ post.content }}
		</div><!-- /.blog-post -->
	{% endfor %}

	<nav>
	  <ul class="pager">
	  	{% if has_before %}<li><a href="#">Previous</a></li>{% endif %}
	    {% if has_after %}<li><a href="#">Next</a></li>{% endif %}
	  </ul>
	</nav>
{% endblock %}